#brit{
    margin-top: -8px;
    margin-left: -8px;
    transform: translateZ(0);
    width: 160px;
    background-color: #071c2e;
    color: white;
    position: sticky;
    z-index: 1061;
    height: 48px;
    width: 1280px;
}

#encic{
    width: 123px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

#premenu{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    left: 160px;
    width: 218.609375px;
    max-width: 100%;
    height: 47px;
    position: absolute;
    top: -2px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu, #search{
    background: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

#menu:hover, #search:hover{
    cursor: pointer;
    text-decoration: underline;
}

#encic:hover{
    cursor: pointer;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#alt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
}

#toc{
    height:max-content;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #dddddd;
    border-radius: 0.5rem;
    color: #145a9d;
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    text-align: center;
    align-items: center;
    font-size: 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #dddddd;
    display: inline-flex;
    flex-flow: row;
    border-radius: 0.5rem;
    color: #145a9d;
    background: transparent;
}

.textbutton{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.icons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

#text{
    width: 95%;
    padding: 16px;
    border: 2px solid #dddddd;
    border-radius: 0.5rem;
    margin:0px auto;
    left:0;
    right:0;
}

#compact{
    position: relative;
    margin-right: 16%;
}

#dots{
    text-align: center;
    transform: rotate(90deg);
    height: 21px;
}

#related{
    margin:0 auto;
    display:block;
    bottom: 6px;
}

.button:hover{
    cursor: pointer;
    background-color: #cfddec;
}

#tim{
    max-height:100%;
}

#tim:hover{
    cursor: pointer;
}

#photo{
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    height: max-content;
    width: min-content;
    vertical-align: middle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
